
.model{
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 120px;

        &-block{

            margin-left: 15px;
           
           &-btn{

            margin-bottom: 30px;

           }
            
            h3{
                font-size: 24px;
                font-weight: 400;
                color: white;
                letter-spacing: 0.2%;
            }

            h1{
                color: white;
                font-size: 62px;
                font-weight: 700;
                margin-top: 25px;
            }

            &-info{
                display: flex;
                justify-content: start;
                align-items: center;
                margin-top: 60px;
                margin-bottom: 50px;
                
                &-block1{
                    margin-right: 25px;
                    h4{
                        color: white;
                        font-size: 16px;
                        font-weight: 400;
                    }
    
                    h5{
                        color:red;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

        }

        &-btn{
            width: 128px;
            height: 56px;
            color: white;
            font-size: 24px;
            font-weight: 400;
            background: #FA3C45;
            border: none;
            border-radius: 8px;
            margin-top: 100px;
        }
    }
}