

.collection{
   
    
    &__content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(350px);
        place-items: center;
        gap: 20px;


        @media (max-width:1270px) {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(300px);
        place-items: center;
        }

        @media (max-width:955px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: minmax(300px);
            place-items: center; 
        }

        @media (max-width:625px) {
            grid-template-columns: repeat(1,1fr);
        }
        
    
        @media (max-width:1310px) {
            margin-top: 30px;
        }
    

        &-block{
            width: 200px;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: column;
            border-radius: 12px;
    
           
            h4{
                padding: 10px 15px;
                color: #FA3C45;
                font-size: 18px;
                font-weight: 600;
                background: white;
                border-radius: 10px;
                width: auto;
                margin-top: 30px;
                margin-right: 200px;
                cursor: pointer;
            }  
    
            &-info{
                margin-top:150px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    font-size: 28px;
                    font-weight: 700;
                    color: white;
                    letter-spacing: 0.8%;
                    text-align: center;
                }
    
                h5{
                    color:white;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
    
                h2{
                    font-size:24px;
                    font-weight: 700;
                    text-align: center;
                    letter-spacing: 0.5%;
                    color: #FA3C45;
                    padding-bottom: 20px;
                }
            }
        }
    }
}